$color-background: rgb(255, 255, 255);
$color-table-border: rgb(246, 244, 242);

$color-luxor: rgb(255, 0, 0);
$color-tower: rgb(255, 255, 0);
$color-american: rgb(0, 0, 255);
$color-festival: rgb(0, 255, 0);
$color-worldwide: rgb(128, 64, 0);
$color-continental: rgb(0, 255, 255);
$color-imperial: rgb(255, 0, 255);
$color-nothing: rgb(255, 255, 192);
$color-nothing-yet: rgb(0, 0, 0);
$color-cant-play-ever: rgb(128, 128, 128);
$color-i-have-this: rgb(255, 224, 160);

$color-will-put-lonely-tile-down: rgb(192, 192, 192);
$color-have-neighboring-tile-too: rgb(192, 255, 192);
$color-will-form-new-chain: rgb(255, 255, 255);
$color-cant-play-now: rgb(96, 96, 96);

$color-player: rgb(192, 192, 255);
$color-cash: rgb(0, 128, 0);
$color-available-chain-size-price: rgb(192, 255, 255);

$color-my-turn: rgb(255, 192, 192);
$color-safe-chain: rgb(255, 192, 128);

body {
	background-color: $color-background;
	color: black;
}

.page {
	display: none;
	padding-left: .5em;
}

#login-error-message {
	color: red;
	font-weight: bold;
}

.username {
	background-color: $color-table-border;
	white-space: nowrap;
}

.lobby-section {
	margin-bottom: 1em;
	white-space: nowrap;
	.header {
		font-weight: bold;
	}
	.player {
		font-weight: bold;
		&.missing {
			color: grey;
		}
	}
}

.board {
	position: absolute;
	text-align: center;
	font-weight: bold;
	table-layout: fixed;
	td {
		border: 2px solid $color-table-border;
		width: percentage(1 / 12);
		height: percentage(1 / 9);
		background-color: $color-nothing;
		overflow: hidden;
	}
	td.luxor {
		background-color: $color-luxor;
	}
	td.tower {
		background-color: $color-tower;
	}
	td.american {
		background-color: $color-american;
	}
	td.festival {
		background-color: $color-festival;
	}
	td.worldwide {
		background-color: $color-worldwide;
	}
	td.continental {
		background-color: $color-continental;
	}
	td.imperial {
		background-color: $color-imperial;
	}
	td.nothing-yet {
		background-color: $color-nothing-yet;
		color: white;
	}
	td.cant-play-ever {
		background-color: $color-cant-play-ever;
	}
	td.i-have-this {
		background-color: $color-i-have-this;
	}
}

.score {
	position: absolute;
	font-weight: bold;
	table-layout: fixed;
	td {
		border: 2px solid $color-table-border;
		overflow: hidden;
		white-space: nowrap;
	}
	td.name {
		width: percentage(5 / 18);
		text-align: left;
		padding-left: 3px;
		&.missing {
			color: grey;
		}
	}
	td.luxor, td.tower, td.american, td.festival, td.worldwide, td.continental, td.imperial {
		width: percentage(1 / 18);
		text-align: center;
	}
	td.cash, td.net {
		width: percentage(3 / 18);
		text-align: right;
		padding-right: 3px;
	}
}

.score-header {
	.name {
		background-color: $color-player;
	}
	.luxor {
		background-color: $color-luxor;
	}
	.tower {
		background-color: $color-tower;
	}
	.american {
		background-color: $color-american;
	}
	.festival {
		background-color: $color-festival;
	}
	.worldwide {
		background-color: $color-worldwide;
	}
	.continental {
		background-color: $color-continental;
	}
	.imperial {
		background-color: $color-imperial;
	}
	.cash, .net {
		background-color: $color-cash;
	}
}

.score-player {
	background-color: white;
	display: none;
	.safe {
		background-color: $color-safe-chain;
	}
}

.score-available, .score-chain-size, .score-price {
	background-color: $color-available-chain-size-price;
	.safe {
		background-color: $color-safe-chain;
	}
}
