.table {
    border-collapse: collapse;
    font-weight: bold;
    table-layout: fixed;
    & td {
        border: 2px solid rgb(246, 244, 242);
        height: 28px;
        overflow: hidden;
        white-space: nowrap;
        &:nth-child(1) {
            max-width: 300px;
            padding-left: 3px;
            text-align: left;
            width: 300px;
        }
    }
}

.user {
    background-color: white;
}

.versus {
    font-weight: normal;
}
