.turnBegan {
  display: flex;
  flex-direction: row;
  height: 1lh;
}

.turnBegan hr:first-child {
  flex-grow: 1;
  margin: 0.5lh 5px 0.5lh 0;
}

.turnBegan hr:last-child {
  flex-grow: 1;
  margin: 0.5lh 0 0.5lh 5px;
}
