.root {
    text-align: center;
    font-weight: bold;
    table-layout: fixed;
    border-collapse: collapse;
    & td {
        border: 2px solid rgb(246, 244, 242);
        width: calc(100% / 12);
        height: calc(100% / 9);
        overflow: hidden;
    }
}
