.root {
    background-color: #c0c0ff;
    height: 1px;
    overflow-y: scroll;
}

.turnBegan {
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-top: 1px solid #000000;
    margin: 0;
    padding: 0;
    text-align: center;
    & legend {
        padding: 0 5px;
    }
}

.move {
    padding: 0 2px;
}

.move:hover {
    cursor: pointer;
}

.move:not(.selected):hover {
    background-color: #ffefc0;
}

.move.selected {
    background-color: #ffd0c0;
}
