.root {
    & fieldset {
        display: inline-block;
        margin: 0;
        padding: 0 3px 3px;
        & legend {
            padding: 0 5px;
        }
        & input:not(:last-child) {
            margin-right: 4px;
        }
        &:first-child {
            margin-right: 4px;
        }
    }
    & input:disabled {
        background-color: #d3d3d3;
        color: #555555;
    }
    & label {
        margin-right: 4px;
    }
}

.topRow fieldset {
    vertical-align: top;
}

.costTable {
    border-collapse: collapse;
    border-spacing: 0;
    & tr {
        & :nth-child(1) {
            text-align: left;
        }
        & :nth-child(2) {
            text-align: right;
            width: 4em;
        }
    }
}
