.root {
  background-color: #ffffff;
  border-collapse: collapse;
  font-weight: bold;
  table-layout: fixed;

  td {
    border: 2px solid #f6f4f2;
    overflow: hidden;
    white-space: nowrap;

    &:nth-child(1) {
      padding-left: 3px;
      text-align: left;
      width: calc(100% * 5 / 18);
    }

    &:nth-child(n + 2):nth-child(-n + 8) {
      text-align: center;
      width: calc(100% / 18);
    }

    &:nth-child(n + 9) {
      padding-right: 3px;
      text-align: right;
      width: calc(100% * 3 / 18);
    }
  }
}

.playerHeader {
  background-color: #c0c0ff;
}

.cashAndNetHeader {
  background-color: #008000;
  color: #ffffff;
}

.isPlayersTurn {
  background-color: #ffc0c0;
}

.isPlayersMove {
  background-color: #ffe0e0;
}

.player {
  background-color: #ffffff;
}

.availableChainSizeAndPrice {
  background-color: #c0ffff;
}

.safeChain {
  background-color: #ffc080;
}

.bottomRightCells {
  background-color: #f6f4f2;
}
