{
  "plugins": ["prettier-plugin-organize-imports", "prettier-plugin-svelte"],
  "printWidth": 100,
  "singleQuote": true,
  "trailingComma": "all",
  "overrides": [
    {
      "files": "*.svelte",
      "options": {
        "parser": "svelte",
        "organizeImportsSkipDestructiveCodeActions": true
      }
    }
  ]
}
