.root {
  display: flex;
  flex-direction: row;
  height: calc(100vh - var(--header-height));
  width: 100vw;
}

.gameListings {
  padding: 12px;
  overflow-y: scroll;
}

.createGameWrapper {
  margin-bottom: 1em;
}

.invisibleGameListing {
  visibility: hidden;
  height: 0;
  overflow: hidden;
}

.gameListings a {
  color: inherit;
  text-decoration: none;
}

.rightSide {
  flex-grow: 1;
  padding: 4px;
}

.gameListingEnterActive,
.gameListingExitActive {
  transition: height 1s;
  height: 139px; /* TODO: don't hardcode this */
  overflow: hidden;
}
.gameListingEnter,
.gameListingExitTo {
  height: 0;
}
