@import 'normalize.css';

html {
    background-color: rgb(246, 244, 242);
    color: black;
    font-family: sans-serif;
    font-size: 16px;
}

* {
    box-sizing: border-box;
}

fieldset {
    border: 1px solid #c0c0c0;
}
