.tileRackWrapper {
    display: inline-block;
    vertical-align: top;
}

.buttonWrapper {
    display: inline-block;
    margin-left: 4px;
    vertical-align: top;
    & > input {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
}
